@using YourWebsite.Services;
@{ 
    CategoryService _categoryService = new CategoryService();
    ProductService _productService = new ProductService();
    List<Category> categories = _categoryService.getAll();
    List<Category> subCategories = _categoryService.getAllSubCate();
}


<!DOCTYPE html>
<html>
<head>
 
    <link rel="shortcut icon" href="~/Content/buyshop/wp-content/themes/buyshop/img/favicon.ico" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>
        @ViewBag.Title
    </title>

    <link rel="stylesheet" href="~/Content/buyshop/wp-content/plugins/sitepress-multilingual-cms/res/css/language-selector3294.css?v=3.0.1" type="text/css" media="all" />
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="xmlrpc.php">

   
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("head", false)
    @Scripts.Render("~/bundles/jquery")


    <!--Unmodified-->

    <link rel="stylesheet" href="~/Content/buyshop/wp-content/plugins/sitepress-multilingual-cms/res/css/language-selector3294.css?v=3.0.1" type="text/css" media="all" />
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="xmlrpc.php">

    <style>
        .wishlist_table .add_to_cart, .yith-wcwl-add-button > a.button.alt {
            border-radius: 16px;
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
        }
    </style>
    <script type="text/javascript">
            var yith_wcwl_plugin_ajax_web_url = 'wp-admin/admin-ajax.html';
            var login_redirect_url= 'wp-loginde6e.html?redirect_to=%2Fbuyshop%2Fwoocommerce%2Fdemo_classic%2F';
    </script>
    <script type="text/javascript">
					var zoomSliderEnabled = false;
    </script>
    <meta name='robots' content='noindex,follow' />
    <link rel="alternate" type="application/rss+xml" title="BuyShop - Premium Responsive WooCommerce WordPress Theme &raquo; Feed" href="indexd784.html?feed=rss2" />
    <link rel="alternate" type="application/rss+xml" title="BuyShop - Premium Responsive WooCommerce WordPress Theme &raquo; Comments Feed" href="indexa6da.html?feed=comments-rss2" />
    <link rel="alternate" type="application/rss+xml" title="BuyShop - Premium Responsive WooCommerce WordPress Theme &raquo; Home Page Classic Comments Feed" href="indexe767.html?feed=rss2&amp;page_id=1186" />
    <link rel='stylesheet' id='language-selector-css' href='~/Content/buyshop/wp-content/plugins/sitepress-multilingual-cms/res/css/language-selector-click4264.css?ver=3.9.11' type='text/css' media='all' />
    <link rel='stylesheet' id='mmm_mega_main_menu-css' href='~/Content/buyshop/wp-content/plugins/mega_main_menu/src/css/cache.skincc1a.css?ver=1454064437' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css' href='~/Content/buyshop/wp-content/plugins/revslider/rs-plugin/css/settings0b07.css?rev=4.3.3&amp;ver=3.9.11' type='text/css' media='all' />
    <style type='text/css'>
        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out;
        }

            .tp-caption a:hover {
                color: #ffa902;
            }
    </style>
    <link rel='stylesheet' id='rs-plugin-captions-css' href='~/Content/buyshop/wp-content/plugins/revslider/rs-plugin/css/captions0b07.css?rev=4.3.3&amp;ver=3.9.11' type='text/css' media='all' />
    <link rel='stylesheet' id='yith-wcwl-main-css' href='~/Content/buyshop/wp-content/plugins/yith-woocommerce-wishlist/assets/css/style4264.css?ver=3.9.11' type='text/css' media='all' />
    <link rel='stylesheet' id='bs_panel_styles-css' href='~/Content/buyshop/wp-content/plugins/buyshop-panel/css/style4264.css?ver=3.9.11' type='text/css' media='all' />
    <link rel='stylesheet' id='mm_icomoon-css' href='~/Content/buyshop/wp-content/plugins/mega_main_menu/src/css/external/icomoon7406.css?ver=2.0.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mm_font-awesome-css' href='~/Content/buyshop/wp-content/plugins/mega_main_menu/src/css/external/font-awesome7406.css?ver=2.0.1' type='text/css' media='all' />
    <link rel='stylesheet' id='style-css' href='~/Content/buyshop/wp-content/themes/buyshop/css/style4264.css?ver=3.9.11' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-responsive-css' href='~/Content/buyshop/wp-content/themes/buyshop/css/bootstrap-responsive4264.css?ver=3.9.11' type='text/css' media='all' />
    <link rel='stylesheet' id='font-oswald-css' href='http://fonts.googleapis.com/css?family=Oswald%3A400%2C700&amp;ver=3.9.11' type='text/css' media='all' />
    <link rel='stylesheet' id='revslider-css' href='~/Content/buyshop/wp-content/themes/buyshop/css/revslider4264.css?ver=3.9.11' type='text/css' media='all' />
    <link rel='stylesheet' id='animate-css' href='~/Content/buyshop/wp-content/themes/buyshop/css/animate4264.css?ver=3.9.11' type='text/css' media='all' />
    <link rel='stylesheet' id='isotope-css-css' href='~/Content/buyshop/wp-content/plugins/js_composer/assets/css/isotope9c92.css?ver=4.2.3' type='text/css' media='all' />
    <link rel='stylesheet' id='fancybox-css-css' href='~/Content/buyshop/wp-content/themes/buyshop/css/jquery.fancybox285d.css?v=2.1.5&amp;ver=3.9.11' type='text/css' media='1' />
    <link rel='stylesheet' id='page-list-style-css' href='~/Content/buyshop/wp-content/plugins/sitemap/css/page-listbc19.css?ver=4.2' type='text/css' media='all' />
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/sitepress-multilingual-cms/res/js/language-selector4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-includes/js/jquery/jquerya4e6.js?ver=1.11.0'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-includes/js/jquery/jquery-migrate.min1576.js?ver=1.2.1'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce-multilingual/assets/js/cart_widget128b.js?ver=3.1'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.plugins.min0b07.js?rev=4.3.3&amp;ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min0b07.js?rev=4.3.3&amp;ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/buyshop-panel/js/bs_panel4264.js?ver=3.9.11'></script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="~/Content/buyshop/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 3.9.11" />
    <meta name="generator" content="WooCommerce 2.1.7" />
    <link rel='shortlink' href='index.html' />

    <!-- Contact Us Form -->
    <style type="text/css">
        .cuf_input {
            display: none !important;
            visibility: hidden !important;
        }

        .contactform {
        }

            .contactform label {
            }

            .contactform input {
            }

            .contactform textarea {
            }

        .contactform_respons {
        }

        .contactform_error {
        }

        .widget .contactform { /* sidebar fields */
        }
    </style>
    <meta name="generator" content="WPML ver:3.0.1 stt:1,3;0" />
    <link rel='stylesheet' id='wsl_css-css' href='~/Content/buyshop/wp-content/plugins/wordpress-social-login/assets/css/style4264.css?ver=3.9.11' type='text/css' media='all' />

    <style type="text/css">
    </style>
    <style type="text/css">
        body {
        }

        .label-icon.sale-label {
            width: 67px;
            height: 67px;
        }

        .label-icon.sale-label {
            background-image: url(~/Content/buyshop/wp-content/themes/buyshop/images/label-sale.html);
        }

        .label-icon.new-label {
            width: 67px;
            height: 67px;
        }

        .label-icon.new-label {
            background-image: url(~/Content/buyshop/wp-content/themes/buyshop/images/label-new.html);
        }


        #topline {
            background-color: #333333;
        }

            #topline .fadelink > a {
                background-color: #4A4A4A;
            }

            #topline .fadelink .ul_wrapper ul {
                background-color: #4A4A4A;
            }

        #header {
            background-color: #FFFFFF;
        }

        #content, .span2.product, #spy, .post-preview-small, section.slider {
            background-color: #FFFFFF;
        }

        .box-wrapper {
            background-color: #FFFFFF;
        }

        button, .button, .btn-middle, .more-link, input[type="submit"],
        .button_small, #topline a.button_small,
        a.small_icon_color i,
        #sc_chat_box div.sc-chat-header, #sc_chat_box .sc-chat-wrapper .sc-start-chat-btn > a,
        .form-search button, .form-mail button,
        a.btn, a.btn[rel="prev"], a.btn[rel="next"],
        .shopping_cart_mini .button,
        .color_mark, .promo-box.style4,
        .squared.icon-color[class^="icon-"],
        .squared.icon-color[class*=" icon-"],
        .nav-tabs > li > a:hover, .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
            background-color: #B42127;
        }

        .tab-content {
            border-top-color: #9D3BC6;
        }

        .infobox .icon i,
        h3 [class^="icon-"], h3 [class*=" icon-"],
        #content .custom_color,
        .tp-leftarrow.default, .tp-rightarrow.default,
        .ls-nav-prev, .ls-nav-next {
            color: #B42127 !important;
        }

        textarea:focus,
        input[type="text"]:focus,
        input[type="password"]:focus,
        input[type="datetime"]:focus,
        input[type="datetime-local"]:focus,
        input[type="date"]:focus,
        input[type="month"]:focus,
        input[type="time"]:focus,
        input[type="week"]:focus,
        input[type="number"]:focus,
        input[type="email"]:focus,
        input[type="url"]:focus,
        input[type="search"]:focus,
        input[type="tel"]:focus,
        input[type="color"]:focus,
        .uneditable-input:focus,
        input:focus:invalid:focus,
        textarea:focus:invalid:focus,
        select:focus:invalid:focus {
            border-color: #B42127;
        }

        button:hover, .button:hover, .more-link:hover, input[type="submit"]:hover,
        .button_small:hover, #topline a.button_small:hover,
        a.small_icon_color i:hover,
        #sc_chat_box div.sc-chat-header:hover, #sc_chat_box .sc-chat-wrapper .sc-start-chat-btn > a:hover,
        .form-search button:hover, .form-mail button:hover, .shoppingcart:hover .fadelink span a,
        a.btn:hover, a.btn[rel="prev"]:hover, a.btn[rel="next"]:hover,
        .shopping_cart_mini .button:hover,
        .squared.icon-color[class^="icon-"]:hover,
        .squared.icon-color[class*=" icon-"]:hover,
        #filters li a:hover, #filters li a.active, #filters li a.selected {
            background-color: #850101;
        }

        .widget.widget_nav_menu ul.sidenav li a, #nav > li > a {
            background-color: #FFFFFF;
        }

        .notouch .widget.widget_nav_menu ul.sidenav li a:hover, .widget.widget_nav_menu ul.sidenav li.active a, .widget.widget_nav_menu ul.sidenav li.current-menu-item a, #nav > li:hover > a, .filters-by-category li a.selected, .sale_discount,
        .tp-bannertimer,
        .jcarousel-skin-brands a.btn:hover,
        .es-nav a.btn:hover, .es-nav a[rel="prev"]:hover, .es-nav a[rel="next"]:hover,
        .flexslider.banners .flex-direction-nav a:hover,
        .direction-nav a:hover,
        .flexslider.vertical .flex-direction-nav a:hover, .flexslider.more-views .flex-direction-nav a:hover,
        .nav-header > a, .nav-list > li > a:hover {
            background-color: #B42127;
        }

        .filters-by-category li a.selected, .filters-by-category li a:hover, .view:hover {
            border-color: #9D3BC6;
        }

        .filters-by-category li {
            border-left-color: #9D3BC6;
        }

        .custom_blocks .box .inside, .flexslider.banners {
            border-bottom-color: #B42127;
        }

        #nav > li > ul, #nav li:hover .menu_custom_block {
            border-top-color: #9D3BC6;
        }

        #footer, #footer_popup {
            background-color: #B42127;
        }

        #footer_line, #footer_button {
            background-color: #333333;
        }



        .nav-tabs > li > a:hover, .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
            color: #FFFFFF !important;
        }

        .product .product-tocart a, .preview .product-tocart a {
            color: #B42127 !important;
        }

            .product .product-tocart a:hover, .preview .product-tocart a:hover {
                color: #9D3BC6 !important;
            }

        #topline, #topline span, #topline .phone span {
        }

            #topline .fadelink > a {
            }

            #topline .fadelink .ul_wrapper ul, #topline .fadelink li a {
            }

        #header {
        }

            #header input[type=text] {
            }

        #content, .woocommerce.widget_price_filter .price_slider_amount span, .woocommerce-page .widget_price_filter .price_slider_amount {
        }

        .table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th, .box-wrapper {
        }

        #content a:not(.button), .product a {
        }

            #content a:not(.button):hover, .product a:hover {
            }

        .product-price .amount, .product-price del .amount, .product-shop .old-price .price, .product-listing .old-price .price, .product-shop .price-box del .amount, .price-box del .amount, .amount {
        }

        .product-price ins .amount, .product-shop .special-price .price, .product-listing .special-price .price, .product-shop .price-box ins .amount, .price-box ins .amount {
        }

        button, .button, a.button, .btn-middle, .more-link, input[type=submit], .button_small, #topline a.button_small, #sc_chat_box div.sc-chat-header, #sc_chat_box .sc-chat-wrapper .sc-start-chat-btn > a, .form-search button, .form-mail button, .shopping_cart_mini .button, .color_mark, .promo-box.style4 {
        }

            button:hover, .button:hover, a.button:hover, .more-link:hover, input[type=submit]:hover, .button_small:hover, #topline a.button_small:hover, #sc_chat_box div.sc-chat-header:hover, #sc_chat_box .sc-chat-wrapper .sc-start-chat-btn > a:hover, .shopping_cart_mini .button:hover {
                color: #FFFFFF;
            }

        .widget.widget_nav_menu ul.sidenav li a, #nav > li > a {
        }

        .notouch .widget.widget_nav_menu ul.sidenav li a:hover, .widget.widget_nav_menu ul.sidenav li.active a, .widget.widget_nav_menu ul.sidenav li.current-menu-item a, #nav > li:hover > a, .filters-by-category li a.selected, .sale_discount {
            color: #FFFFFF;
        }

        .form-search button, .form-mail button, a.small_icon_color i, a.btn, a.btn[rel=prev], a.btn[rel=next] {
            color: #FFFFFF;
        }

            .form-search button:hover, .form-mail button:hover, .shoppingcart:hover .fadelink span a, a.small_icon_color i:hover, .es-nav a.btn:hover, a.btn:hover, a.btn[rel=prev]:hover, a.btn[rel=next]:hover {
                color: #FFFFFF;
            }

        h1 {
        }

        h2 {
        }

        h3 {
        }

        h4 {
        }

        h5 {
        }

        h6 {
        }

        #footer {
        }

            #footer .custom_color {
            }


        #wp-social-login-connect-options a, #cancel-comment-reply-link, a.more-link {
            color: !important;
        }


        #footer_popup {
            /*background-color: #2B2B2B;*/
            bottom: 0;
            display: block !important;
            padding-bottom: 20px;
            position: relative;
        }

        #footer_button {
            display: none;
        }
    </style>
    <script type="text/javascript">
			var ajaxFilterEnabled = 0;
			var successfullyAdded = 'Product successfully added to your shopping cart';
			var view_mode_default = '';
			var catsAccordion = false;
									var checkoutUrl = 'index3204.html?page_id=7';
			var contBtn = 'Continue shopping';
			var checkBtn = 'Checkout';

			var search_autocomplete_enabled = '1';
			var isotope_animation_enabled = '1';

			var hoverfold_js_url = '~/Content/buyshop/wp-content/themes/buyshop/js/jquery.hoverfold.js';
			var fallback_css = '~/Content/buyshop/wp-content/themes/buyshop/css/fallback.css';

    </script>


    <style type="text/css">
        html {
            margin-top: 0 !important;
        }

        * html body {
            margin-top: 0 !important;
        }
    </style>

    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />

    <style>
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
            background-color:#9D3BC6;
        }
    </style>

</head>
<body>
    
    <!--HEADER-->
    <div id="header">
        


        <div class="container" id="logo_area">
            <div class="wrapper_w">
                <div id="logo">

                    <a href="/"><img src="~/Content/logo.png" alt="" style="width:250px;"></a>
                </div>

                <div class="pull-right padding-1">
                    <div id="shopping_cart-2" class="woocommerce widget_shopping_cart">
                        <div class="shoppingcart">
                            <div class="fadelink">
                                <span class="pull-right">
                                    <a class="btn" href="index5534.html?page_id=6">
                                        <i class="icon-basket icon-large"></i>
                                    </a>
                                </span>
                                <span class="badge badge-inverse">0</span>
                                <div class="shopping_cart_mini hidden-phone hidden-tablet widget_shopping_cart_content">
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- //sidebar-widget --><div class="pull-right padding-1">
                    <div id="woocommerce_product_search-2" class="woocommerce widget_product_search">
                        <h4 class="widget-title">Search</h4><div class="form-search-wrapper ">
                            <form id="form-search" class="form-search" action="">
                                <input type="text" name="s" id="s" value="" class="search-query" placeholder="Search for products" autocomplete="off">
                                <button id="searchsubmit" class="btn" type="submit">
                                    <i class="icon-search-2 icon-large"></i>
                                </button>
                                <input type="hidden" name="post_type" value="product">
                            </form>
                        </div>
                    </div>
                </div><!-- //sidebar-widget -->

            </div>
            <div class="row">
                <div class="span12">




                    <div id="mega_main_menu" class="mega_main mega_main_menu main-menu primary_style-flat icons-left first-lvl-align-left first-lvl-separator-smooth language_direction-ltr direction-horizontal responsive-enable mobile_minimized-enable fullwidth-disable dropdowns_animation-none version-2-0-1 no-logo no-search no-woo_cart no-buddypress" style="z-index: 4990;">
                        <div class="menu_holder" data-sticky="1" data-stickyoffset="340">
                            <div class="mmm_fullwidth_container"></div><!-- class="fullwidth_container" -->
                            <div class="menu_inner">
                                <span class="nav_logo">
                                    <a class="mobile_toggle">
                                        <span class="mobile_button">
                                            Menu &nbsp;
                                            <span class="symbol_menu">≡</span>
                                            <span class="symbol_cross">╳</span>
                                        </span><!-- class="mobile_button" -->
                                    </a>
                                </span><!-- /class="nav_logo" -->
                                <ul id="mega_main_menu_ul" class="mega_main_menu_ul">
                                

                                    @{ 
                                        for(int i = 0; i < categories.Count; i++)
                                        {
                                            
                                            Category c = categories.ElementAt(i);
                                            if (c.PreCateID == SLIMCONFIG.NONE_PRE_CATEGORY && !c.Name.Equals(SLIMCONFIG.AVAILABLE_PRODUCT))
                                            {


                                            <li id="@c.ID" class="widemenu menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-parent-item menu-item-898 multicolumn_dropdown default_style drop_to_right submenu_default_width columns2">
                                                <a href="/danhmuc/@c.ID" class="item_link  disable_icon" tabindex="0">
                                                    <i class></i>
                                                    <span class="link_content">
                                                        <span class="link_text">
                                                            @c.Name
                                                        </span>
                                                    </span>
                                                </a>
                                                @{
                                                    for (int k = 0; k < categories.Count; k++)
                                                    {
                                                        Category t = categories.ElementAt(k);
                                                        if (t.PreCateID == c.ID)
                                                        {
                                                            <ul class="mega_dropdown" style="background-image:url(/Content/buyshop/wp-content/uploads/2014/07/bigstock-Elegant-man-in-suit-44860783.jpg);background-repeat:no-repeat;background-attachment:scroll;background-position:center right;background-size:auto 100%;">
                                                                <li class="col menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-parent-item menu-item-1221 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                    <span class="item_link disable_icon" tabindex="0">
                                                                        <i class></i>
                                                                        <span class="link_content">
                                                                            <span class="link_text">
                                                                                @*Column 1*@
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                    @{
                                                                        for (int j = 0; j < categories.Count; j++)
                                                                        {
                                                                            Category sc = categories.ElementAt(j);
                                                                            if (sc.PreCateID == c.ID)
                                                                            {
                                                                                <ul class="mega_dropdown">
                                                                                    <li id="@sc.ID" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-946 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                                        <a href="/danhmuc/@sc.ID" class="item_link disable_icon" tabindex="0">
                                                                                            <i class></i>
                                                                                            <span class="link_content">
                                                                                                <span class="link_text">
                                                                                                    @sc.Name
                                                                                                </span>
                                                                                            </span>
                                                                                        </a>
                                                                                    </li>
                                                                                </ul>
                                                                            }
                                                                        }
                                                                    }
                                                                </li>

                                                            </ul>
                                                                            }
                                                                        }
                                                }
                                                
                                                
                                            </li>

                                            
                                            }
                                            
                                        }
                                    }

                                    <li id="thongsoSize" class="widemenu menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-parent-item menu-item-898 multicolumn_dropdown default_style drop_to_right submenu_default_width columns2">
                                        <a href="/danhmuc/#" class="item_link  disable_icon" tabindex="0">
                                            <i class></i>
                                            <span class="link_content">
                                                <span class="link_text">
                                                    Thông số size
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li id="blog" class="widemenu menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-parent-item menu-item-898 multicolumn_dropdown default_style drop_to_right submenu_default_width columns2">
                                        <a href="/danhmuc/#" class="item_link  disable_icon" tabindex="0">
                                            <i class></i>
                                            <span class="link_content">
                                                <span class="link_text">
                                                    Blog
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li id="lienhe" class="widemenu menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-parent-item menu-item-898 multicolumn_dropdown default_style drop_to_right submenu_default_width columns2">
                                        <a href="/danhmuc/#" class="item_link  disable_icon" tabindex="0">
                                            <i class></i>
                                            <span class="link_content">
                                                <span class="link_text">
                                                    Liên hệ và báo giá
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li id="gioithieu" class="widemenu menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-parent-item menu-item-898 multicolumn_dropdown default_style drop_to_right submenu_default_width columns2">
                                        <a href="/danhmuc/#" class="item_link  disable_icon" tabindex="0">
                                            <i class></i>
                                            <span class="link_content">
                                                <span class="link_text">
                                                    Giới thiệu
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li id="tuyendung" class="widemenu menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-parent-item menu-item-898 multicolumn_dropdown default_style drop_to_right submenu_default_width columns2">
                                        <a href="/danhmuc/#" class="item_link  disable_icon" tabindex="0">
                                            <i class></i>
                                            <span class="link_content">
                                                <span class="link_text">
                                                    Tuyển dụng
                                                </span>
                                            </span>
                                        </a>
                                    </li>

                                </ul>
                            </div><!-- /class="menu_inner" -->
                        </div><!-- /class="menu_holder" -->
                    </div><!-- /id="mega_main_menu" -->



                </div>
            </div>
        </div>
        
        <div class="container" style="text-align:center;margin-bottom:10px">
            <img src="~/Content/Process.png" style="width:80%;height:auto" />
        </div>
     </div>



    <!--BODY-->
    <div class="shop">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    <div class="row" style="margin-top:10%;">
        <div id="footer" style="background-color:#B42127;">
            <div class="container">
                <p style="font-size:medium;color:#fff;margin-top:0.5%;margin-left:43%;">Copyright &copy; YourShop 2016</p>
            </div>
        </div>
    </div>

</body>
</html>
