@using YourWebsite.Services;
@{ 
    CategoryService _categoryService = new CategoryService();
    List<Category> categories = _categoryService.getAll();
    List<Category> subCategories = _categoryService.getAllSubCate();
}


<!DOCTYPE html>
<html>
<head>
 
    <link rel="shortcut icon" href="~/Content/buyshop/wp-content/themes/buyshop/img/favicon.ico" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>
        @ViewBag.Title
    </title>

    <link rel="stylesheet" href="~/Content/buyshop/wp-content/plugins/sitepress-multilingual-cms/res/css/language-selector3294.css?v=3.0.1" type="text/css" media="all" />
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="xmlrpc.php">
   
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("head", false)
    @Scripts.Render("~/bundles/jquery")


</head>
<body>
    
    <!--HEADER-->
    <div id="header">


        <div class="container" id="logo_area">
            <div class="wrapper_w">
                <div id="logo">
                    <a href="http://demo.ethemeuk.com/buyshop/woocommerce/demo_classic"><img src="~/Content/logo.png" alt=""></a>
                </div>

                <div class="pull-right padding-1">
                    <div id="shopping_cart-2" class="woocommerce widget_shopping_cart">
                        <div class="shoppingcart">
                            <div class="fadelink">
                                <span class="pull-right">
                                    <a class="btn" href="index5534.html?page_id=6">
                                        <i class="icon-basket icon-large"></i>
                                    </a>
                                </span>
                                <span class="badge badge-inverse">0</span>
                                <div class="shopping_cart_mini hidden-phone hidden-tablet widget_shopping_cart_content">
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- //sidebar-widget --><div class="pull-right padding-1">
                    <div id="woocommerce_product_search-2" class="woocommerce widget_product_search">
                        <h4 class="widget-title">Search</h4><div class="form-search-wrapper ">
                            <form id="form-search" class="form-search" action="http://demo.ethemeuk.com/buyshop/woocommerce/demo_classic/">
                                <input type="text" name="s" id="s" value="" class="search-query" placeholder="Search for products" autocomplete="off">
                                <button id="searchsubmit" class="btn" type="submit">
                                    <i class="icon-search-2 icon-large"></i>
                                </button>
                                <input type="hidden" name="post_type" value="product">
                            </form>
                        </div>
                    </div>
                </div><!-- //sidebar-widget -->

            </div>
            <div class="row">
                <div class="span12">




                    <div id="mega_main_menu" class="mega_main mega_main_menu main-menu primary_style-flat icons-left first-lvl-align-left first-lvl-separator-smooth language_direction-ltr direction-horizontal responsive-enable mobile_minimized-enable fullwidth-disable dropdowns_animation-none version-2-0-1 no-logo no-search no-woo_cart no-buddypress" style="z-index: 4990;">
                        <div class="menu_holder" data-sticky="1" data-stickyoffset="340">
                            <div class="mmm_fullwidth_container"></div><!-- class="fullwidth_container" -->
                            <div class="menu_inner">
                                <span class="nav_logo">
                                    <a class="mobile_toggle">
                                        <span class="mobile_button">
                                            Menu &nbsp;
                                            <span class="symbol_menu">≡</span>
                                            <span class="symbol_cross">╳</span>
                                        </span><!-- class="mobile_button" -->
                                    </a>
                                </span><!-- /class="nav_logo" -->
                                <ul id="mega_main_menu_ul" class="mega_main_menu_ul">
                                

                                    @{ 
                                        for(int i = 0; i < categories.Count; i++)
                                        {
                                            Category c = categories.ElementAt(i);
                                            if (c.PreCateID == SLIMCONFIG.NONE_PRE_CATEGORY)
                                            {


                                            <li id="@c.ID" class="widemenu menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-parent-item menu-item-898 multicolumn_dropdown default_style drop_to_right submenu_default_width columns2">
                                                <a href="@c.Name" class="item_link  disable_icon" tabindex="0">
                                                    <i class></i>
                                                    <span class="link_content">
                                                        <span class="link_text">
                                                            @c.Name
                                                        </span>
                                                    </span>
                                                </a>
                                                @{
                                                    for (int k = 0; k < categories.Count; k++)
                                                    {
                                                        Category t = categories.ElementAt(k);
                                                        if (t.PreCateID == c.ID)
                                                        {
                                                            <ul class="mega_dropdown" style="">
                                                                <li class="col menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-parent-item menu-item-1221 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                    <span class="item_link disable_icon" tabindex="0">
                                                                        <i class></i>
                                                                        <span class="link_content">
                                                                            <span class="link_text">
                                                                                Column 1
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                    @{
                                                                        for (int j = 0; j < categories.Count; j++)
                                                                        {
                                                                            Category sc = categories.ElementAt(j);
                                                                            if (sc.PreCateID == c.ID)
                                                                            {
                                                                                <ul class="mega_dropdown">
                                                                                    <li id="@sc.ID" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-946 default_dropdown default_style drop_to_right submenu_default_width columns1">
                                                                                        <a href="@sc.Name" class="item_link disable_icon" tabindex="0">
                                                                                            <i class></i>
                                                                                            <span class="link_content">
                                                                                                <span class="link_text">
                                                                                                    @sc.Name
                                                                                                </span>
                                                                                            </span>
                                                                                        </a>
                                                                                    </li>
                                                                                </ul>
                                                                            }
                                                                        }
                                                                    }
                                                                </li>

                                                            </ul>
                                                                            }
                                                                        }
                                                }
                                                
                                                
                                            </li>
                                            }
                                            
                                        }
                                    }



                                </ul>
                            </div><!-- /class="menu_inner" -->
                        </div><!-- /class="menu_holder" -->
                    </div><!-- /id="mega_main_menu" -->



                </div>
            </div>
        </div>
    </div>



    <!--BODY-->
    <div class="shop">
        <div class="container">
            @RenderBody()
        </div>
    </div>

</body>
</html>
