@{ 
    ViewBag.Title = "Your Shop";
    Dictionary<Category, List<Product>> mainModel = ViewBag.mainModel;
    List<Image> sliderImages = ViewBag.sliderImages;
    List<Product> newProducts = ViewBag.newProducts;
    List<Product> trendProducts = ViewBag.trendProducts;
}



<body class="home page page-id-1186 page-template-default woocommerce-wishlist woocommerce woocommerce-page responsive wide notouch no_msie wpb-js-composer js-comp-ver-4.2.3 vc_responsive">
    <div id="wrap">

        <div id="preloader">
            <div id="ajax_loader" style="display: none;" class="loader">
                <img width="32" height="32" src="~/Content/buyshop/wp-content/themes/buyshop/img/ajax-loader.gif" alt="">
            </div>
            <div id="ajax_message" style="display: none;" class="message">
                <div class="inside"></div>
            </div>
        </div>

        <section class="slider">

            <div class="container">
                <div class="wpb_revslider_element wpb_content_element">
                    <!-- START REVOLUTION SLIDER 4.3.3 fullwidth mode -->
                    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.plugins.min4e0f.js?rev=4.3.3'></script>
                    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min4e0f.js?rev=4.3.3'></script>
                    <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#FFFFFF;padding:0px;margin-top:0px;margin-bottom:0px;max-height:495px;">
                        <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;max-height:495px;height:495;">
                            <ul>
                                

                                @{
                                    for (int i = 0; i < sliderImages.Count; i++)
                                    {
                                        Image m = sliderImages.ElementAt(i);
                                        <!-- SLIDE  -->
                                        <li data-transition="slidehorizontal" data-slotamount="7" data-masterspeed="300" data-link="@m.Utility">
                                            <!-- MAIN IMAGE -->
                                            <img src="@m.Path" alt="slider2_" data-bgposition="center top" data-bgfit="contain" data-bgrepeat="no-repeat">
                                            <!-- LAYERS -->
                                        </li>
                                    }
                                }

                            </ul>
                            <div class="tp-bannertimer tp-bottom"></div>
                        </div>
                    </div>
                    <script type="text/javascript">

				var tpj=jQuery;
				tpj.noConflict();
				var revapi1;

				tpj(document).ready(function() {

				if(tpj('#rev_slider_1_1').revolution == undefined)
					revslider_showDoubleJqueryError('#rev_slider_1_1');
				else
				   revapi1 = tpj('#rev_slider_1_1').show().revolution(
					{
						dottedOverlay:"none",
						delay:9000,
						startwidth:1600,
						startheight:495,
						hideThumbs:200,

						thumbWidth:100,
						thumbHeight:50,
						thumbAmount:3,

						navigationType:"none",
						navigationArrows:"solo",
						navigationStyle:"square-old",

						touchenabled:"on",
						onHoverStop:"on",

						swipe_velocity: 0.7,
						swipe_min_touches: 1,
						swipe_max_touches: 1,
						drag_block_vertical: false,

						keyboardNavigation:"off",

						navigationHAlign:"center",
						navigationVAlign:"bottom",
						navigationHOffset:0,
						navigationVOffset:20,

						soloArrowLeftHalign:"left",
						soloArrowLeftValign:"center",
						soloArrowLeftHOffset:200,
						soloArrowLeftVOffset:0,

						soloArrowRightHalign:"right",
						soloArrowRightValign:"center",
						soloArrowRightHOffset:200,
						soloArrowRightVOffset:0,

						shadow:0,
						fullWidth:"on",
						fullScreen:"off",

						spinner:"spinner0",

						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,


						shuffle:"off",

						autoHeight:"on",
						forceFullWidth:"on",



						hideThumbsOnMobile:"off",
						hideNavDelayOnMobile:1500,						hideBulletsOnMobile:"off",
						hideArrowsOnMobile:"off",
						hideThumbsUnderResolution:0,

						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						startWithSlide:0,
						videoJsPath:"http://demo.ethemeuk.com/buyshop/woocommerce/demo_classic/~/Content/buyshop/wp-content/plugins/revslider/rs-plugin/videojs/",
						fullScreenOffsetContainer: ""
					});

				});	//ready

                    </script>

                    <!-- END REVOLUTION SLIDER -->
                </div>
            </div>

        </section>

        <section id="content" class="shop">
            <div class="container">
            
                
                    <div class="row">
                        <div class="span12">

                            
                                    
                                    <div class="row">
                                        <div class="span12">
                                            <div class="">
                                                <div class="woocommerce">
                                                    <h2>New Products</h2>
                                                    <div class="carousel es-carousel-wrapper style0">
                                                        <div class="es-carousel">
                                                            <div class="row">
                                                                <div class="product_outer carousel_items" style="display: block;">

                                                                    @{
                                                                        for (int i = 0; i < newProducts.Count; i++)
                                                                        {
                                                                            Product p = newProducts.ElementAt(i);
                                                                            <div class="post-78 product type-product status-publish has-post-thumbnail span3 product carousel_item featured shipping-taxable purchasable product-type-simple product-cat-dresses product-cat-jackets product-cat-prom-dresses product-cat-women instock">

                                                                                <div class="product-image-wrapper onhover animate scale animated">
                                                                                    <div class="label_new_top_left">New!</div>
                                                                                    <a href="/sanpham/@p.ID">
                                                                                        <img width="300" height="300" src="@p.Img1" class="attachment-shop_single wp-post-image" alt="@p.Name" />
                                                                                    </a>
                                                                                </div>

                                                                                <div class="wrapper-hover">
                                                                                    <div class="product-name">
                                                                                        <a href="/sanpham/@p.ID">
                                                                                            @p.Name
                                                                                        </a>
                                                                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="78">Quick View</a>
                                                                                    <div class="wrapper">

                                                                                        @*<div class="product-price"><span class="amount">Giá: @p.Price</span></div>*@

                                                                                        <div class="product-tocart"><a href="indexd5f5.html?add-to-cart=78" rel="nofollow" data-product_id="78" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                                                                        <div class="clearfix"></div>
                                                                                    </div>
                                                                                </div>

                                                                                
                                                                            </div>


                                                                            <div class="preview hidden-tablet hidden-phone " style="display: block;">
                                                                                <div class="wrapper">
                                                                                    <div class="col-1">

                                                                                        <a class="image" data-rel="@p.Img1" href="#">
                                                                                            <img class="thumb" alt="" src="@p.Img1" />
                                                                                        </a>

                                                                                        <a class="image" data-rel="@p.Img2" href="#">
                                                                                            <img class="thumb" alt="" src="@p.Img2" />
                                                                                        </a>

                                                                                        <a class="image" data-rel="@p.Img3" href="#">
                                                                                            <img class="thumb" alt="" src="@p.Img3" />
                                                                                        </a>

                                                                                    </div>
                                                                                    <div class="col-2 with_media">
                                                                                        <div class="big_image">
                                                                                            <a href="/sanpham/@p.ID">
                                                                                                <img width="300" height="300" src="@p.Img1" class="attachment-shop_single wp-post-image" alt="@p.Name" />
                                                                                            </a>
                                                                                        </div>
                                                                                        <div class="wrapper-hover">
                                                                                            <div class="product-name">
                                                                                                <a href="/sanpham/@p.ID">
                                                                                                    @p.Name
                                                                                                </a>
                                                                                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="78">Quick View</a>
                                                                                            <div class="wrapper">


                                                                                                <div class="product-tocart"><a href="indexd5f5.html?add-to-cart=78" rel="nofollow" data-product_id="78" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                                                                            </div>
                                                                                            <div class="clearfix"></div>
                                                                                            <div class="product-link">
                                                                                                <a class="wft_add_to_wishlist" href="indexb436.html?action=add_to_wishlist&amp;add_to_wishlist=78" data-product-id="78" data-product-type="simple">Add to Wishlist</a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                    }

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                             


                            @for (int i = 0; i < mainModel.Count; i++)
                            {
                                Category c = mainModel.ElementAt(i).Key;
                                List<Product> l = mainModel.ElementAt(i).Value;
                                int count = 0;
                                if (i < 1)
                                {
                                    <div class="row">
                                        <div class="span9">

                                            <div class="">
                                                <div class="woocommerce columns-3">
                                                    <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                                                        @c.Name</h2> 
                                                    <div class="row big_with_description isotope" style="position: relative; overflow: visible; height: 552px;">

                                                        @{
                                                            for (int k = 0; k < l.Count && count < 6; k++)
                                                            {
                                                                Product r = l.ElementAt(k);

                                                                <div class="post-1025 product type-product status-publish has-post-thumbnail span3 product carousel_item new_product featured shipping-taxable purchasable product-type-simple product-cat-lingerie product-cat-shorts product-cat-skirts product-cat-women product-tag-club-dresses product-tag-coats product-tag-dresses product-tag-evening-dresses product-tag-jackets product-tag-jeans product-tag-lingerie product-tag-prom-dresses product-tag-shirts product-tag-shorts product-tag-skirts instock isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                                                                    <div class="product-image-wrapper onhover animate scale animated">
                                                                        
                                                                        <a href="/sanpham/@r.ID"><img width="300" height="300" src="@r.Img1" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (67)"></a>
                                                                    </div>
                                                                    <div class="wrapper-hover">

                                                                        <div class="product-name">
                                                                            <a href="/sanpham/@r.ID">
                                                                                @r.Name
                                                                            </a>
                                                                        </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1025">Quick View</a>
                                                                        <div class="wrapper">




                                                                            <div class="product-tocart"><a href="#" rel="nofollow" data-product_id="1025" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                                                            <div class="clearfix"></div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <div class="preview hidden-tablet hidden-phone " style="display: block;">
                                                                    <div class="wrapper">

                                                                        <div class="col-1">

                                                                            <a class="image" data-rel="@r.Img1" href="#">
                                                                                <img class="thumb" alt="" src="@r.Img1">
                                                                            </a>

                                                                            <a class="image" data-rel="@r.Img2" href="#">
                                                                                <img class="thumb" alt="" src="@r.Img2">
                                                                            </a>


                                                                            <a class="image" data-rel="@r.Img3" href="#">
                                                                                <img class="thumb" alt="" src="@r.Img3">
                                                                            </a>





                                                                        </div>
                                                                        <div class="col-2 with_media">
                                                                            <div class="big_image">
                                                                                <div class="label_new_top_left">New!</div>				
                                                                                <a href="/sanpham/@r.ID">

                                                                                    <img width="300" height="300" src="@r.Img1" class="attachment-shop_single wp-post-image" alt="@r.Name">
                                                                                </a>
                                                                            </div>

                                                                            <div class="wrapper-hover">

                                                                                <div class="product-name">
                                                                                    <a href="/sanpham/@r.ID">
                                                                                        @r.Name
                                                                                    </a>
                                                                                </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1025">Quick View</a>
                                                                                <div class="wrapper">




                                                                                    <div class="product-tocart"><a href="#" rel="nofollow" data-product_id="1025" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>

                                                                                </div>
                                                                                <div class="clearfix"></div>

                                                                                <div class="product-link">
                                                                                    <a class="wft_add_to_wishlist" href="#" data-product-id="1025" data-product-type="simple">Add to Wishlist</a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                count++;
                                                            }
                                                        }



                                                    </div>
</div>

                                            </div>
                                        </div>
                                        <div class=" span3">

                                            <div class="wpb_raw_code  ">
                                                <div class="wpb_wrapper">
                                                    <div class="banners_outer">
                                                        <div class="flexslider banners">

                                                            <div class="flex-viewport" style="overflow: hidden; position: relative;"></div><ul class="flex-direction-nav"><li><a href="#" class="flex-prev"><i class="icon-left-thin"></i></a></li><li><a href="#" class="flex-next"><i class="icon-right-thin"></i></a></li></ul><div class="flex-viewport" style="overflow: hidden; position: relative;">
                                                                <ul class="slides" style="width: 1400%; transition-duration: 0.6s; transform: translate3d(-760px, 0px, 0px);">
                                                                    @{
                                                                        for (int m = 0; m < trendProducts.Count; m++)
                                                                        {
                                                                            Product o = trendProducts.ElementAt(m);
                                                                            <li style="float: left; display: block; width: 152px;" class="clone"> <a href="/sanpham/@o.ID"><img alt="" src="@o.Img1"></a> </li>
                                                                        }
                                                                    }
                                                                    
                                                                </ul>
                                                            </div><ul class="flex-direction-nav"><li><a class="flex-prev" href="#"><i class="icon-left-thin"></i></a></li><li><a class="flex-next" href="#"><i class="icon-right-thin"></i></a></li></ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }

                                else
                                {



                            <div class="row">   
                                <div class="span12">
                                    <div class="">
                                        <div class="woocommerce">
                                            <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">@c.Name
                                            </h2><div class="carousel es-carousel-wrapper style0">
                                                <div class="es-carousel">
                                                    <div class="row ">
                                                        <div class="product_outer carousel_items">
                                                            @{
                                                                    for (int j = 0; j < l.Count; j++)
                                                                    {
                                                                     Product p = l.ElementAt(j);
                                                                    <div class="post-78 product type-product status-publish has-post-thumbnail span3 product carousel_item featured shipping-taxable purchasable product-type-simple product-cat-dresses product-cat-jackets product-cat-prom-dresses product-cat-women instock">

                                                                        <div class="product-image-wrapper onhover animate scale">
                                                                            <a href="/sanpham/@p.ID">
                                                                            <img width="300" height="300" src="@p.Img1" class="attachment-shop_single wp-post-image" alt="@p.Name" /></a>
                                                                        </div>

                                                                        <div class="wrapper-hover">
                                                                            <div class="product-name">
                                                                                <a href="/sanpham/@p.ID">
                                                                                    @p.Name
                                                                                </a>
                                                                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="78">Quick View</a>
                                                                            <div class="wrapper">

                                                                                @*<div class="product-price"><span class="amount">Giá: @p.Price</span></div>*@

                                                                                <div class="product-tocart"><a href="indexd5f5.html?add-to-cart=78" rel="nofollow" data-product_id="78" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                                                                <div class="clearfix"></div>
                                                                            </div>
                                                                        </div>

                                                                        
                                                                    </div>

                                                                    
                                                                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                                                                        <div class="wrapper">
                                                                            <div class="col-1">

                                                                                <a class="image" data-rel="@p.Img1" href="#">
                                                                                    <img class="thumb" alt="" src="@p.Img1" />
                                                                                </a>

                                                                                <a class="image" data-rel="@p.Img2" href="#">
                                                                                    <img class="thumb" alt="" src="@p.Img2" />
                                                                                </a>

                                                                                <a class="image" data-rel="@p.Img3" href="#">
                                                                                    <img class="thumb" alt="" src="@p.Img3" />
                                                                                </a>

                                                                            </div>
                                                                            <div class="col-2 with_media">
                                                                                <div class="big_image">
                                                                                    <a href="/sanpham/@p.ID">
                                                                                        <img width="300" height="300" src="@p.Img1" class="attachment-shop_single wp-post-image" alt="wclo_ad_1_1 (22)" />
                                                                                    </a>
                                                                                </div>
                                                                                <div class="wrapper-hover">
                                                                                    <div class="product-name">
                                                                                        <a href="/sanpham/@p.ID">
                                                                                            @p.Name
                                                                                        </a>
                                                                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="78">Quick View</a>
                                                                                    <div class="wrapper">

                                                                                        <div class="product-price"><span class="amount">&pound;@p.Price</span></div>

                                                                                        <div class="product-tocart"><a href="indexd5f5.html?add-to-cart=78" rel="nofollow" data-product_id="78" data-product_sku="13" data-wooclass="add_to_cart_button button product_type_simple" class="wft_add_to_cart_button product_type_simple"><i class="icon-basket"></i></a></div>
                                                                                    </div>
                                                                                    <div class="clearfix"></div>
                                                                                    <div class="product-link">
                                                                                        <a class="wft_add_to_wishlist" href="indexb436.html?action=add_to_wishlist&amp;add_to_wishlist=78" data-product-id="78" data-product-type="simple">Add to Wishlist</a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                }
                                                            }

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                                    }
                                                                }

                        </div>
                    </div>

               
            </div><!-- end container -->
        </section>
    </div><!-- #wrap -->

    <link rel='stylesheet' id='js_composer_front-css' href='~/Content/buyshop/wp-content/plugins/js_composer/assets/css/js_composer_front9c92.css?ver=4.2.3' type='text/css' media='all' />
  
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.mine7f3.js?ver=2.1.7'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.minc8cb.js?ver=2.60'></script>
  
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.yith-wcwl5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/mega_main_menu/src/js/frontend/menu_functions4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/bootstrap4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.easing4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.mousewheel4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.flexslider4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.elastislide4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.selectbox-0.24264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.parallax4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.inview4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.autocompleteea63.js?v=1.2.9&amp;ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.isotope4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/modernizr-2.6.2.min4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.fancybox.pack285d.js?v=2.1.5&amp;ver=3.9.11'></script>
  
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart-variation.mine7f3.js?ver=2.1.7'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/custom4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/retina-1.1.04264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/add-to-cart4264.js?ver=3.9.11'></script>
   
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/sitepress-multilingual-cms/res/js/sitepress4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/js_composer/assets/js/js_composer_front9c92.js?ver=4.2.3'></script>
  
</body>
</html>
