
@{
    News mainNews = ViewBag.mainNews;
    ViewBag.Title = mainNews.Title + " - Your Fashion";
    List<News> relativeNews = ViewBag.relativeNews;
    List<News> allNews = ViewBag.allNews;
}


<body class="home page page-id-1186 page-template-default woocommerce-wishlist woocommerce woocommerce-page responsive wide notouch no_msie wpb-js-composer js-comp-ver-4.2.3 vc_responsive">


    <style>
        p {
            font-size: 17px;
            line-height: 140%;
            font-family: Arial;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

    <div class="container">
        <div class="row" style="margin-top:40px;">
            <div class="col-md-8" id="newContent" style="padding-right:30px;">
                <h2 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight:bold; color:#be0006;">@mainNews.Title</h2>
                <p>@Html.Raw(mainNews.Content)</p>
            </div>
            <div class="col-md-4" id="popularNews">
                <h3 style="font-family:'Times New Roman', Times, serif; color:#be0006; font-weight:900; text-align:left;">Tin nổi bật</h3>
                @{
                    int count = 0;
                    for (int i = allNews.Count - 1; i >= 0 && count < 6; i--)
                    {
                        News n = allNews.ElementAt(i);
                        if (n.Popular == SLIMCONFIG.POPULAR_NEWS)
                        {
                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-md-4" style="height:110px; padding-right:0;">
                                    <img src="@n.MainImage" style="height:100px; width:100px;" />
                                </div>
                                <div class="col-md-8" style="height:110px;">
                                    <h5 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:bold; color: #be0006; vertical-align:middle;">
                                        <a href="/Tintuc/Details/@n.ID" style="text-decoration:none;">@n.Title</a>
                                    </h5>
                                </div>
                            </div>
                        }
                    }
                }

            </div>
        </div>
        <div class="row" id="relavtiveNews" style="border-top:1px solid red; margin-top:50px;">
            <h4 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:35px; color:#be0006; margin-top:30px;">Các tin bài liên quan</h4>
            <ul style="padding-left:50px; margin-top:50px;">
                @{
                    for (int i = 0; i < relativeNews.Count; i++)
                    {
                        News n = relativeNews.ElementAt(i);
                        <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:25px; margin:10px 0 20px 0;">
                            <a href="/Tintuc/Details/@n.ID">@n.Title</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>




    <link rel='stylesheet' id='js_composer_front-css' href='~/Content/buyshop/wp-content/plugins/js_composer/assets/css/js_composer_front9c92.css?ver=4.2.3' type='text/css' media='all' />

    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.mine7f3.js?ver=2.1.7'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.minc8cb.js?ver=2.60'></script>

    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.yith-wcwl5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/mega_main_menu/src/js/frontend/menu_functions4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/bootstrap4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.easing4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.mousewheel4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.flexslider4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.elastislide4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.selectbox-0.24264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.parallax4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.inview4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.autocompleteea63.js?v=1.2.9&amp;ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.isotope4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/modernizr-2.6.2.min4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.fancybox.pack285d.js?v=2.1.5&amp;ver=3.9.11'></script>

    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart-variation.mine7f3.js?ver=2.1.7'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/custom4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/retina-1.1.04264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/add-to-cart4264.js?ver=3.9.11'></script>

    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/js_composer/assets/js/js_composer_front9c92.js?ver=4.2.3'></script>

</body>
