
@{
    News mainNews = ViewBag.mainNews;
    ViewBag.Title = mainNews.Title + " - Your Fashion";
    List<News> relativeNews = ViewBag.relativeNews;
    List<News> allNews = ViewBag.allNews;
}
<style>
    p{
        font-size: 17px;
        line-height:140%;
        font-family:Arial;
    }
    img{
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
</style>

<div class="container">
    <div class="row" style="margin-top:40px;">
        <div class="col-md-8" id="newContent" style="padding-right:30px;">
            <h2 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight:bold; color:#be0006;">@mainNews.Title</h2>
            <p>@Html.Raw(mainNews.Content)</p>
        </div>
        <div class="col-md-4" id="popularNews">
            <h3 style="font-family:'Times New Roman', Times, serif; color:#be0006; font-weight:900; text-align:left;">Tin nổi bật</h3>
            @{
                int count = 0;
                for (int i = allNews.Count - 1; i >= 0 && count < 6; i--)
                {
                    News n = allNews.ElementAt(i);
                    if (n.Popular == SLIMCONFIG.POPULAR_NEWS)
                    {
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-md-4" style="height:110px; padding-right:0;">
                                <img src="@n.MainImage" style="height:100px; width:100px;" />
                            </div>
                            <div class="col-md-8" style="height:110px;">
                                <h5 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:bold; color: #be0006; vertical-align:middle;">
                                    <a href="/Tintuc/Details/@n.ID" style="text-decoration:none;">@n.Title</a>
                                </h5>
                            </div>
                        </div>
                    }
                }
            }
            
        </div>
    </div>
    <div class="row" id="relavtiveNews" style="border-top:1px solid red; margin-top:50px;">
        <h4 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:35px; color:#be0006; margin-top:30px;">Các tin bài liên quan</h4>
        <ul style="padding-left:50px; margin-top:50px;">
            @{ 
                for (int i = 0; i < relativeNews.Count; i++)
                {
                    News n = relativeNews.ElementAt(i);
                    <li style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:25px; margin:10px 0 20px 0;">
                        <a href="/Tintuc/Details/@n.ID">@n.Title</a>
                    </li>
                }
            }
        </ul>
    </div>
</div>