
@{
    ViewBag.Title = "Your fashion - News";
    List<News> allNews = ViewBag.allNews;
    News lastestNews = allNews.ElementAt(allNews.Count - 1);
}


<body class="home page page-id-1186 page-template-default woocommerce-wishlist woocommerce woocommerce-page responsive wide notouch no_msie wpb-js-composer js-comp-ver-4.2.3 vc_responsive">


    <div class="container">
        <div class="row" id="intro" style="margin:20px 0 20px 0;">
            <div class="col-md-6" id="left-intro" style="height:546px; display:table; overflow:hidden;">
                <div class="row" style="display:table-cell; vertical-align:middle;">
                    <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:50px;">Cập nhật liên tục</p>
                    <p style="font-family:'Times New Roman', Times, serif;font-size:60px; line-height:120%; color:#be0006;">Tin tức cộng đồng</p>
                    <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:60px;">Your Fashion</p>
                </div>
            </div>
            <div class="col-md-6" id="right-popular-news">
                <h2 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:40px; color:#be0006;">TIn mới nhất</h2>
                <div style="height:500px; margin-top:20px;">
                    <a href="/Tintuc/Details/@lastestNews.ID">
                        <div style="height:300px; background-image:url(@lastestNews.MainImage);"></div>

                    </a>
                    <div style="margin-top:20px; margin-bottom:10px; height:60px;">
                        <a href="/Tintuc/Details/@lastestNews.ID" style="text-decoration:none; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:35px; line-height:120%; color:#be0006;">@lastestNews.Title</a>
                    </div>
                    <p style="margin-top:30px; font-size:15px;">@lastestNews.ShortDes</p>
                </div>
            </div>
        </div>


        <div class="row" id="news" style="margin-bottom:50px;">
            @{
                for (int i = 0; i < allNews.Count; i++)
                {
                    News n = allNews.ElementAt(i);
                    <div class="col-md-4" style="margin-top:20px;">
                        <div style="border-right:1px solid #999999; border-bottom:1px solid #999999; border-radius:5px;">
                            <a href="/Tintuc/Details/@n.ID">
                                <div style="height:300px; background-image:url(@n.MainImage);"></div>

                            </a>
                            <div style="margin-top:20px; margin-bottom:10px; height:60px;">
                                <a href="/Tintuc/Details/@n.ID" style="text-decoration:none; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:20px; line-height:120%; color:#be0006;">@n.Title</a>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>




    <link rel='stylesheet' id='js_composer_front-css' href='~/Content/buyshop/wp-content/plugins/js_composer/assets/css/js_composer_front9c92.css?ver=4.2.3' type='text/css' media='all' />

    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.mine7f3.js?ver=2.1.7'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.minc8cb.js?ver=2.60'></script>

    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.yith-wcwl5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/mega_main_menu/src/js/frontend/menu_functions4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/bootstrap4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.easing4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.mousewheel4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.flexslider4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.elastislide4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.selectbox-0.24264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.parallax4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.inview4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.autocompleteea63.js?v=1.2.9&amp;ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.isotope4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/modernizr-2.6.2.min4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.fancybox.pack285d.js?v=2.1.5&amp;ver=3.9.11'></script>

    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart-variation.mine7f3.js?ver=2.1.7'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/custom4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/retina-1.1.04264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/add-to-cart4264.js?ver=3.9.11'></script>

    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/js_composer/assets/js/js_composer_front9c92.js?ver=4.2.3'></script>

</body>
