@{ 
    Product mainProduct = ViewBag.mainProduct;

    ViewBag.Title = "Your Shop" + " - " + mainProduct.Name;
    List<Product> relativeProducts = ViewBag.relativeProducts;
    List<Category> proTrees = ViewBag.proTrees;
}
<style>
    @@font-face {
     font-family: Yourtitle; src: url('/Content/font/UTM AmericanaBEx.ttf');
}
</style>

<!DOCTYPE html>

<!--[if IE 7]>
<html class="ie ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US">
<!--<![endif]-->
<!-- Mirrored from demo.ethemeuk.com/buyshop/woocommerce/demo_classic/?product=paisley-print-stretch-silk-camisole-3 by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 27 Mar 2016 15:49:47 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <link rel="shortcut icon" href="~/Content/buyshop/wp-content/themes/buyshop/img/favicon.ico" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
   =

    <link rel="stylesheet" href="~/Content/buyshop/wp-content/plugins/sitepress-multilingual-cms/res/css/language-selector3294.css?v=3.0.1" type="text/css" media="all" />
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="xmlrpc.php">

    <!--[if IE 9 ]> <link href="http://demo.ethemeuk.com/buyshop/woocommerce/demo_classic/wp-content/themes/buyshop/css/styleie9.css" rel="stylesheet"> <![endif]-->
    <!--[if gt IE 9]><!-->
    <link href="~/Content/buyshop/wp-content/themes/buyshop/css/styleie10.css" rel="stylesheet"> <!--<![endif]-->
    <!--[if lte IE 8 ]>
    <link href="http://demo.ethemeuk.com/buyshop/woocommerce/demo_classic/wp-content/themes/buyshop/css/styleie8.css" rel="stylesheet">
    <script src="http://demo.ethemeuk.com/buyshop/woocommerce/demo_classic/wp-content/themes/buyshop/js/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="http://demo.ethemeuk.com/buyshop/woocommerce/demo_classic/wp-content/themes/buyshop/js/html5.js"></script>
    <![endif]-->

    <style>
        .wishlist_table .add_to_cart, .yith-wcwl-add-button > a.button.alt {
            border-radius: 16px;
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
        }
    </style>
    <script type="text/javascript">
            var yith_wcwl_plugin_ajax_web_url = 'wp-admin/admin-ajax.html';
            var login_redirect_url= 'wp-logind76b.html?redirect_to=%2Fbuyshop%2Fwoocommerce%2Fdemo_classic%2F%3Fproduct%3Dpaisley-print-stretch-silk-camisole-3';
    </script>
    <meta name='robots' content='noindex,follow' />
    <link rel="alternate" type="application/rss+xml" title="BuyShop - Premium Responsive WooCommerce WordPress Theme &raquo; Feed" href="indexd784.html?feed=rss2" />
    <link rel="alternate" type="application/rss+xml" title="BuyShop - Premium Responsive WooCommerce WordPress Theme &raquo; Comments Feed" href="indexa6da.html?feed=comments-rss2" />
    <link rel="alternate" type="application/rss+xml" title="BuyShop - Premium Responsive WooCommerce WordPress Theme &raquo; Paisley-print stretch-silk camisole Comments Feed" href="indexe9b3.html?feed=rss2&amp;p=1024" />
    <link rel='stylesheet' id='language-selector-css' href='~/Content/buyshop/wp-content/plugins/sitepress-multilingual-cms/res/css/language-selector-click4264.css?ver=3.9.11' type='text/css' media='all' />
    <link rel='stylesheet' id='mmm_mega_main_menu-css' href='~/Content/buyshop/wp-content/plugins/mega_main_menu/src/css/cache.skincc1a.css?ver=1454064437' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css' href='~/Content/buyshop/wp-content/plugins/revslider/rs-plugin/css/settings0b07.css?rev=4.3.3&amp;ver=3.9.11' type='text/css' media='all' />
    <style type='text/css'>
        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out;
        }

            .tp-caption a:hover {
                color: #ffa902;
            }
    </style>
    <link rel='stylesheet' id='rs-plugin-captions-css' href='~/Content/buyshop/wp-content/plugins/revslider/rs-plugin/css/captions0b07.css?rev=4.3.3&amp;ver=3.9.11' type='text/css' media='all' />
    <link rel='stylesheet' id='yith-wcwl-main-css' href='~/Content/buyshop/wp-content/plugins/yith-woocommerce-wishlist/assets/css/style4264.css?ver=3.9.11' type='text/css' media='all' />
    <link rel='stylesheet' id='bs_panel_styles-css' href='~/Content/buyshop/wp-content/plugins/buyshop-panel/css/style4264.css?ver=3.9.11' type='text/css' media='all' />
    <link rel='stylesheet' id='mm_icomoon-css' href='~/Content/buyshop/wp-content/plugins/mega_main_menu/src/css/external/icomoon7406.css?ver=2.0.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mm_font-awesome-css' href='~/Content/buyshop/wp-content/plugins/mega_main_menu/src/css/external/font-awesome7406.css?ver=2.0.1' type='text/css' media='all' />
    <link rel='stylesheet' id='style-css' href='~/Content/buyshop/wp-content/themes/buyshop/css/style4264.css?ver=3.9.11' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-responsive-css' href='~/Content/buyshop/wp-content/themes/buyshop/css/bootstrap-responsive4264.css?ver=3.9.11' type='text/css' media='all' />
    <link rel='stylesheet' id='font-oswald-css' href='http://fonts.googleapis.com/css?family=Oswald%3A400%2C700&amp;ver=3.9.11' type='text/css' media='all' />
    <link rel='stylesheet' id='animate-css' href='~/Content/buyshop/wp-content/themes/buyshop/css/animate4264.css?ver=3.9.11' type='text/css' media='all' />
    <link rel='stylesheet' id='isotope-css-css' href='~/Content/buyshop/wp-content/plugins/js_composer/assets/css/isotope9c92.css?ver=4.2.3' type='text/css' media='all' />
    <link rel='stylesheet' id='fancybox-css-css' href='~/Content/buyshop/wp-content/themes/buyshop/css/jquery.fancybox285d.css?v=2.1.5&amp;ver=3.9.11' type='text/css' media='1' />
    <link rel='stylesheet' id='page-list-style-css' href='~/Content/buyshop/wp-content/plugins/sitemap/css/page-listbc19.css?ver=4.2' type='text/css' media='all' />
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/sitepress-multilingual-cms/res/js/language-selector4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='wp-includes/js/jquery/jquerya4e6.js?ver=1.11.0'></script>
    <script type='text/javascript' src='wp-includes/js/jquery/jquery-migrate.min1576.js?ver=1.2.1'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce-multilingual/assets/js/cart_widget128b.js?ver=3.1'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.plugins.min0b07.js?rev=4.3.3&amp;ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min0b07.js?rev=4.3.3&amp;ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/buyshop-panel/js/bs_panel4264.js?ver=3.9.11'></script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes/wlwmanifest.xml" />
    <link rel='prev' title='Dugan georgette top' href='indexffd7.html?product=dugan-georgette-top-3' />
    <link rel='next' title='Marguerite stretch-tulle thong' href='index8144.html?product=marguerite-riding-printed-stretch-tulle-thong-3' />
    <meta name="generator" content="WordPress 3.9.11" />
    <meta name="generator" content="WooCommerce 2.1.7" />
    <link rel='shortlink' href='indexf0fa.html?p=1024' />

    <!-- Contact Us Form -->
    <style type="text/css">
        .cuf_input {
            display: none !important;
            visibility: hidden !important;
        }

        .contactform {
        }

            .contactform label {
            }

            .contactform input {
            }

            .contactform textarea {
            }

        .contactform_respons {
        }

        .contactform_error {
        }

        .widget .contactform { /* sidebar fields */
        }
    </style>
    <meta name="generator" content="WPML ver:3.0.1 stt:1,3;0" />
    <link rel="alternate" type="application/rss+xml" title="New products" href="index1f80.html?post_type=product&amp;feed=rss2" />
    <link rel='stylesheet' id='wsl_css-css' href='~/Content/buyshop/wp-content/plugins/wordpress-social-login/assets/css/style4264.css?ver=3.9.11' type='text/css' media='all' />

    <style type="text/css">

    </style>
    <style type="text/css">
        body {
        }

        .label-icon.sale-label {
            width: 67px;
            height: 67px;
        }

        .label-icon.sale-label {
            background-image: url(wp-content/themes/buyshop/images/label-sale.html);
        }

        .label-icon.new-label {
            width: 67px;
            height: 67px;
        }

        .label-icon.new-label {
            background-image: url(wp-content/themes/buyshop/images/label-new.html);
        }


        #topline {
            background-color: #333333;
        }

            #topline .fadelink > a {
                background-color: #4A4A4A;
            }

            #topline .fadelink .ul_wrapper ul {
                background-color: #4A4A4A;
            }

        #header {
            background-color: #FFFFFF;
        }

        #content, .span2.product, #spy, .post-preview-small, section.slider {
            background-color: #FFFFFF;
        }

        .box-wrapper {
            background-color: #FFFFFF;
        }

        button, .button, .btn-middle, .more-link, input[type="submit"],
        .button_small, #topline a.button_small,
        a.small_icon_color i,
        #sc_chat_box div.sc-chat-header, #sc_chat_box .sc-chat-wrapper .sc-start-chat-btn > a,
        .form-search button, .form-mail button,
        a.btn, a.btn[rel="prev"], a.btn[rel="next"],
        .shopping_cart_mini .button,
        .color_mark, .promo-box.style4,
        .squared.icon-color[class^="icon-"],
        .squared.icon-color[class*=" icon-"],
        .nav-tabs > li > a:hover, .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
            background-color: #B42127;
        }

        .tab-content {
            border-top-color: #B42127;
        }

        .infobox .icon i,
        h3 [class^="icon-"], h3 [class*=" icon-"],
        #content .custom_color,
        .tp-leftarrow.default, .tp-rightarrow.default,
        .ls-nav-prev, .ls-nav-next {
            color: #9D3BC6 !important;
        }

        textarea:focus,
        input[type="text"]:focus,
        input[type="password"]:focus,
        input[type="datetime"]:focus,
        input[type="datetime-local"]:focus,
        input[type="date"]:focus,
        input[type="month"]:focus,
        input[type="time"]:focus,
        input[type="week"]:focus,
        input[type="number"]:focus,
        input[type="email"]:focus,
        input[type="url"]:focus,
        input[type="search"]:focus,
        input[type="tel"]:focus,
        input[type="color"]:focus,
        .uneditable-input:focus,
        input:focus:invalid:focus,
        textarea:focus:invalid:focus,
        select:focus:invalid:focus {
            border-color: #B42127;
        }

        button:hover, .button:hover, .more-link:hover, input[type="submit"]:hover,
        .button_small:hover, #topline a.button_small:hover,
        a.small_icon_color i:hover,
        #sc_chat_box div.sc-chat-header:hover, #sc_chat_box .sc-chat-wrapper .sc-start-chat-btn > a:hover,
        .form-search button:hover, .form-mail button:hover, .shoppingcart:hover .fadelink span a,
        a.btn:hover, a.btn[rel="prev"]:hover, a.btn[rel="next"]:hover,
        .shopping_cart_mini .button:hover,
        .squared.icon-color[class^="icon-"]:hover,
        .squared.icon-color[class*=" icon-"]:hover,
        #filters li a:hover, #filters li a.active, #filters li a.selected {
            background-color: #850101;
        }

        .widget.widget_nav_menu ul.sidenav li a, #nav > li > a {
            background-color: #FFFFFF;
        }

        .notouch .widget.widget_nav_menu ul.sidenav li a:hover, .widget.widget_nav_menu ul.sidenav li.active a, .widget.widget_nav_menu ul.sidenav li.current-menu-item a, #nav > li:hover > a, .filters-by-category li a.selected, .sale_discount,
        .tp-bannertimer,
        .jcarousel-skin-brands a.btn:hover,
        .es-nav a.btn:hover, .es-nav a[rel="prev"]:hover, .es-nav a[rel="next"]:hover,
        .flexslider.banners .flex-direction-nav a:hover,
        .direction-nav a:hover,
        .flexslider.vertical .flex-direction-nav a:hover, .flexslider.more-views .flex-direction-nav a:hover,
        .nav-header > a, .nav-list > li > a:hover {
            background-color: #B42127;
        }

        .filters-by-category li a.selected, .filters-by-category li a:hover, .view:hover {
            border-color: #9D3BC6;
        }

        .filters-by-category li {
            border-left-color: #9D3BC6;
        }

        .custom_blocks .box .inside, .flexslider.banners {
            border-bottom-color: #9D3BC6;
        }

        #nav > li > ul, #nav li:hover .menu_custom_block {
            border-top-color: #9D3BC6;
        }

        #footer, #footer_popup {
            background-color: #2B2B2B;
        }

        #footer_line, #footer_button {
            background-color: #333333;
        }



        .nav-tabs > li > a:hover, .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
            color: #FFFFFF !important;
        }

        .product .product-tocart a, .preview .product-tocart a {
            color: #9D3BC6 !important;
        }

            .product .product-tocart a:hover, .preview .product-tocart a:hover {
                color: #9D3BC6 !important;
            }

        #topline, #topline span, #topline .phone span {
        }

            #topline .fadelink > a {
            }

            #topline .fadelink .ul_wrapper ul, #topline .fadelink li a {
            }

        #header {
        }

            #header input[type=text] {
            }

        #content, .woocommerce.widget_price_filter .price_slider_amount span, .woocommerce-page .widget_price_filter .price_slider_amount {
        }

        .table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th, .box-wrapper {
        }

        #content a:not(.button), .product a {
        }

            #content a:not(.button):hover, .product a:hover {
            }

        .product-price .amount, .product-price del .amount, .product-shop .old-price .price, .product-listing .old-price .price, .product-shop .price-box del .amount, .price-box del .amount, .amount {
        }

        .product-price ins .amount, .product-shop .special-price .price, .product-listing .special-price .price, .product-shop .price-box ins .amount, .price-box ins .amount {
        }

        button, .button, a.button, .btn-middle, .more-link, input[type=submit], .button_small, #topline a.button_small, #sc_chat_box div.sc-chat-header, #sc_chat_box .sc-chat-wrapper .sc-start-chat-btn > a, .form-search button, .form-mail button, .shopping_cart_mini .button, .color_mark, .promo-box.style4 {
        }

            button:hover, .button:hover, a.button:hover, .more-link:hover, input[type=submit]:hover, .button_small:hover, #topline a.button_small:hover, #sc_chat_box div.sc-chat-header:hover, #sc_chat_box .sc-chat-wrapper .sc-start-chat-btn > a:hover, .shopping_cart_mini .button:hover {
                color: #FFFFFF;
            }

        .widget.widget_nav_menu ul.sidenav li a, #nav > li > a {
        }

        .notouch .widget.widget_nav_menu ul.sidenav li a:hover, .widget.widget_nav_menu ul.sidenav li.active a, .widget.widget_nav_menu ul.sidenav li.current-menu-item a, #nav > li:hover > a, .filters-by-category li a.selected, .sale_discount {
            color: #FFFFFF;
        }

        .form-search button, .form-mail button, a.small_icon_color i, a.btn, a.btn[rel=prev], a.btn[rel=next] {
            color: #FFFFFF;
        }

            .form-search button:hover, .form-mail button:hover, .shoppingcart:hover .fadelink span a, a.small_icon_color i:hover, .es-nav a.btn:hover, a.btn:hover, a.btn[rel=prev]:hover, a.btn[rel=next]:hover {
                color: #FFFFFF;
            }

        h1 {
        }

        h2 {
        }

        h3 {
        }

        h4 {
        }

        h5 {
        }

        h6 {
        }

        #footer {
        }

            #footer .custom_color {
            }


        #wp-social-login-connect-options a, #cancel-comment-reply-link, a.more-link {
            color: !important;
        }


        #footer_popup {
            /*background-color: #2B2B2B;*/
            bottom: 0;
            display: block !important;
            padding-bottom: 20px;
            position: relative;
        }

        #footer_button {
            display: none;
        }
    </style>
    <script type="text/javascript">
			var ajaxFilterEnabled = 0;
			var successfullyAdded = 'Product successfully added to your shopping cart';
			var view_mode_default = '';
			var catsAccordion = false;
									var checkoutUrl = 'index3204.html?page_id=7';
			var contBtn = 'Continue shopping';
			var checkBtn = 'Checkout';

			var search_autocomplete_enabled = '1';
			var isotope_animation_enabled = '1';

			var hoverfold_js_url = '~/Content/buyshop/wp-content/themes/buyshop/js/jquery.hoverfold.js';
			var fallback_css = '~/Content/buyshop/wp-content/themes/buyshop/css/fallback.css';

    </script>


    <style type="text/css">
        html {
            margin-top: 0 !important;
        }

        * html body {
            margin-top: 0 !important;
        }
    </style>

    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress." />

    <!--[if gte IE 9]>
        <style type="text/css">
            .#mega_main_menu,
            .#mega_main_menu *
            {
                filter: none;
            }
        </style>
    <![endif]-->
</head>

<body class="single single-product postid-1024 woocommerce woocommerce-page responsive wide notouch no_msie wpb-js-composer js-comp-ver-4.2.3 vc_responsive">
    <div id="wrap">



        <div id="preloader">
            <div id="ajax_loader" style="display: none;" class="loader">
                <img width="32" height="32" src="~/Content/buyshop/wp-content/themes/buyshop/img/ajax-loader.gif" alt="">
            </div>
            <div id="ajax_message" style="display: none;" class="message">
                <div class="inside"></div>
            </div>
        </div>


        <section id="content">
            <div class="container top" role="main">
                <div class="content_top">
                    <div class="wrapper_w">
                        <div class="pull-left">
                        <div class="breadcrumbs">
                            <a class="home" href="/" style="background-color:#B42127;color:white;font-weight:bolder;padding-left:10px;padding-right:10px">HOME</a>
                            <span style="font-size:x-large;margin-top:-3px">›</span>
                            @{
                                for (int i = proTrees.Count -1 ; i >= 0; i--)
                                {
                                    Category c = proTrees.ElementAt(i);

                                    <a href="/danhmuc/@c.ID" style="background-color:#B42127;color:white;font-weight:bolder;padding-left:10px;padding-right:10px">@c.Name</a>
                                    <span style="font-size:x-large;margin-top:-3px">›</span> //sua lai khi co trang hien thi category
                                }
                            }
                            
                            
                            </div>
                        </div>	<div class="pull-right">
                            <div class="direction-nav">
                                @{
                                    bool hasPrv = false;
                                 
                                        for (int i = 0; i < relativeProducts.Count && hasPrv == false; i++)
                                        {
                                            Product p = relativeProducts.ElementAt(i);
                                            if (p.ID < mainProduct.ID)
                                            {
                                                <span class="prev">
                                                    <a href="@p.ID" rel="prev"><i class="icon-left-thin"></i></a><div class="small_preview prev hidden-phone hidden-tablet" style="display: none;"><img width="150" height="150" src="@p.Img1" class="attachment-thumbnail wp-post-image" alt="wclo_ad_1_1 (26)" /></div>
                                                </span>

                                            hasPrv = true;

                                        }
                                    }

                                    bool hasNxt = false;
                                    for (int i = 0; i < relativeProducts.Count && hasNxt == false; i++)
                                    {
                                        Product p = relativeProducts.ElementAt(i);
                                        if (p.ID > mainProduct.ID)
                                        {
                                            <span class="next">
                                                <a href="@relativeProducts.ElementAt(0).ID" rel="next"><i class="icon-right-thin"></i></a><div class="small_preview next hidden-phone hidden-tablet" style="display: none;"><img width="150" height="150" src="@relativeProducts.ElementAt(0).Img1" class="attachment-thumbnail wp-post-image" alt="woclo_01_1 (67)" /></div>
                                            </span>
                                            hasNxt = true;
                                        }
                                    }




                                }
                                

                                <span class="next">
                                    <a href="@relativeProducts.ElementAt(0).ID" rel="next"><i class="icon-right-thin"></i></a><div class="small_preview next hidden-phone hidden-tablet" style="display: none;"><img width="150" height="150" src="@relativeProducts.ElementAt(0).Img1" class="attachment-thumbnail wp-post-image" alt="woclo_01_1 (67)" /></div>
                                </span>

                            </div>
                        </div>
                    </div>
                </div>



                <div itemscope itemtype="http://schema.org/Product" id="product-1024" class="product-box">
                    <div class="row">

                        <div class="span5">
                            <div class="product-img-box">
                                <div class="row">
                                    <div class="span1">

                                        <div class="flexslider more-views">

                                            <ul class="slides">
                                                @if (!"".Equals(mainProduct.Img2))                                                {

                                                    <li><a href="@SLIMCONFIG.BIG_IMG_PATH_WEB@mainProduct.Img2" class="cloud-zoom-gallery"  rel="prettyPhoto[product-gallery]" data-rel="useZoom: 'zoom1', smallImage: '@SLIMCONFIG.BIG_IMG_PATH_WEB@mainProduct.Img2'" alt="" width="62" height="62"><img src="@SLIMCONFIG.BIG_IMG_PATH_WEB@mainProduct.Img2" /></a></li>

                                                }
                                                @if (!"".Equals(mainProduct.Img1))
                                                {
                                                    <li><a href="@SLIMCONFIG.BIG_IMG_PATH_WEB@mainProduct.Img1" class="cloud-zoom-gallery"  rel="prettyPhoto[product-gallery]" data-rel="useZoom: 'zoom1', smallImage: '@SLIMCONFIG.BIG_IMG_PATH_WEB@mainProduct.Img1'" alt="" width="62" height="62"><img src="@SLIMCONFIG.BIG_IMG_PATH_WEB@mainProduct.Img1" /></a></li>

                                                }
                                                @if (!"".Equals(mainProduct.Img3))
                                                {
                                                    <li><a href="@SLIMCONFIG.BIG_IMG_PATH_WEB@mainProduct.Img3" class="cloud-zoom-gallery"  rel="prettyPhoto[product-gallery]" data-rel="useZoom: 'zoom1', smallImage: '@SLIMCONFIG.BIG_IMG_PATH_WEB@mainProduct.Img3'" alt="" width="62" height="62"><img src="@SLIMCONFIG.BIG_IMG_PATH_WEB@mainProduct.Img3" /></a></li>

                                                }



                                            </ul>

                                        </div>
                                    </div>

                                    <div class="span4">

                                        <div class="product-image"><a class="cloud-zoom" href="@SLIMCONFIG.BIG_IMG_PATH_WEB@mainProduct.Img1" id="zoom1" data-rel="position: 'right', adjustX: 10, adjustY: 0" >
                                            
                                            <img alt="" src="@SLIMCONFIG.BIG_IMG_PATH_WEB@mainProduct.Img1" />
                                            
                                            </a></div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="span6">
                            <div class="product-shop" style="margin-top:20px">
                                <div class="product_info_left">
                                    <div class="product-name" style="margin-top:20px"><h1 style="font-family:Yourtitle">@mainProduct.Name</h1></div><div class="short-description">
                                        <p>@Html.Raw(mainProduct.Descriptions)</ p >
                                    </div>
                                    


                                    <div class="add-to-cart">
                                        <form class="cart" id="form-add_to_cart" method="post" enctype='multipart/form-data'>




                                            <a href="/Home/About" class="btn btn-default" style="font-family: serif; font-size:large; height:30px;">Liên hệ để được thông tin</a>
                                            
                                            



                                        </form>

                                    </div>
                                    

                                </div>
                            </div>
                        </div><!-- .span7 -->

                        <div class="clear"></div>









                        <div class="related products span12">

                            <h2 style="font-family:Yourtitle">Sản phẩm có liên quan</h2>

                            <div class="carousel es-carousel-wrapper style0">
                                <div class="es-carousel">
                                    <div class="row ">
                                        <div class="product_outer carousel_items">

                                            @{ 
                                                for(int i = 0; i < relativeProducts.Count; i++)
                                                {
                                                    Product p = relativeProducts.ElementAt(i);

                                                    if (p.ID != mainProduct.ID)
                                                    {

                                                    

                                                    <div class="post-1020 product type-product status-publish has-post-thumbnail span3 product carousel_item new_product featured shipping-taxable purchasable product-type-simple product-cat-dresses product-cat-jackets product-cat-prom-dresses product-cat-women product-tag-club-dresses product-tag-coats product-tag-dresses product-tag-evening-dresses product-tag-jackets product-tag-jeans product-tag-lingerie product-tag-prom-dresses product-tag-shirts product-tag-shorts product-tag-skirts instock">
                                                        <div class="product-image-wrapper onhover animate scale animated">
                                                            <a href="@p.ID"><img width="300" height="300" src="@p.Img1" class="attachment-shop_single wp-post-image" alt="woclo_01_1 (52)"></a>
                                                        </div>
                                                        <div class="wrapper-hover">

                                                            <div class="product-name" style="text-align:center;font-weight:bolder">

                                                                <a href="/sanpham/@p.ID">
                                                                    @p.Name
                                                                </a>
                                                            </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1020">Chi tiết</a>
                                                            

                                                        </div>
                                                    </div>


                                                    <div class="preview hidden-tablet hidden-phone " style="display: none;">
                                                        <div class="wrapper">

                                                            <div class="col-1">


                                                                <a class="image" data-rel="@p.Img1" href="#">
                                                                    <img class="thumb" alt="@p.Name" src="@p.Img1">
                                                                </a>


                                                                <a class="image" data-rel="@p.Img2" href="#">
                                                                    <img class="thumb" alt="@p.Name" src="@p.Img2">
                                                                </a>

                                                                <a class="image" data-rel="@p.Img3" href="#">
                                                                    <img class="thumb" alt="@p.Name" src="@p.Img3">
                                                                </a>


                                                            </div>
                                                            <div class="col-2 with_media">
                                                                <div class="big_image">
                                                                    	<a href="/sanpham/@p.ID">

                                                                        <img width="300" height="300" src="@p.Img1" class="attachment-shop_single wp-post-image" alt="@p.Name">
                                                                    </a>
                                                                </div>

                                                                <div class="wrapper-hover">

                                                                    <div class="product-name" style="text-align:center;font-weight:bolder">
                                                                        <a href="/sanpham/@p.ID">
                                                                            @p.Name
                                                                        </a>
                                                                    </div><a class="quickview img-circle hidden-phone hidden-small-desktop hidden-tablet" data-product-id="1022">Chi tiết</a>

                                                                    <div class="clearfix"></div>

                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    }
                                                }
                                            }

                                            

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>


                        <meta itemprop="url" content="index6a5d.html?product=paisley-print-stretch-silk-camisole-3" />

                    </div> <!-- .row -->
                </div><!-- #product-1024 -->



            </div>
        </section>

    <link rel='stylesheet' id='cloud-zoom-css' href='~/Content/buyshop/wp-content/themes/buyshop/css/cloud-zoom4264.css?ver=3.9.11' type='text/css' media='all' />
    <script type='text/javascript'>
/* <![CDATA[ */
var wc_add_to_cart_params = {"ajax_url":"\/buyshop\/woocommerce\/demo_classic\/wp-admin\/admin-ajax.php","ajax_loader_url":"\/\/demo.ethemeuk.com\/buyshop\/woocommerce\/demo_classic\/wp-content\/plugins\/woocommerce\/assets\/images\/ajax-loader@2x.gif","i18n_view_cart":"View Cart","cart_url":"http:\/\/demo.ethemeuk.com\/buyshop\/woocommerce\/demo_classic\/?page_id=6","is_cart":"","cart_redirect_after_add":"no"};
/* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.mine7f3.js?ver=2.1.7'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var wc_single_product_params = {"i18n_required_rating_text":"Please select a rating","review_rating_required":"yes"};
/* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce/assets/js/frontend/single-product.mine7f3.js?ver=2.1.7'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.minc8cb.js?ver=2.60'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/buyshop\/woocommerce\/demo_classic\/wp-admin\/admin-ajax.php","ajax_loader_url":"\/\/demo.ethemeuk.com\/buyshop\/woocommerce\/demo_classic\/wp-content\/plugins\/woocommerce\/assets\/images\/ajax-loader@2x.gif"};
/* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.mine7f3.js?ver=2.1.7'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.mine7f0.js?ver=1.3.1'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/buyshop\/woocommerce\/demo_classic\/wp-admin\/admin-ajax.php","fragment_name":"wc_fragments"};
/* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.mine7f3.js?ver=2.1.7'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var yith_wcwl_l10n = {"out_of_stock":"Cannot add to the cart as product is Out of Stock!"};
/* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.yith-wcwl5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/mega_main_menu/src/js/frontend/menu_functions4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/bootstrap4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.easing4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.mousewheel4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.flexslider4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.elastislide4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.selectbox-0.24264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.parallax4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.inview4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='wp-includes/js/comment-reply.min4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.autocompleteea63.js?v=1.2.9&amp;ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.isotope4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/modernizr-2.6.2.min4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/jquery.fancybox.pack285d.js?v=2.1.5&amp;ver=3.9.11'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var wc_add_to_cart_variation_params = {"i18n_no_matching_variations_text":"Sorry, no products matched your selection. Please choose a different combination.","i18n_unavailable_text":"Sorry, this product is unavailable. Please choose a different combination."};
/* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart-variation.mine7f3.js?ver=2.1.7'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/custom4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/retina-1.1.04264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/add-to-cart4264.js?ver=3.9.11'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var icl_vars = {"current_language":"en","icl_home":"http:\/\/demo.ethemeuk.com\/buyshop\/woocommerce\/demo_classic"};
/* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/plugins/sitepress-multilingual-cms/res/js/sitepress4264.js?ver=3.9.11'></script>
    <script type='text/javascript' src='~/Content/buyshop/wp-content/themes/buyshop/js/cloud-zoom.1.0.24264.js?ver=3.9.11'></script>
    <!-- WooCommerce JavaScript -->
    <script type="text/javascript">
jQuery(function($) {

            jQuery('.wcml_currency_switcher').on('change', function(){
                    var currency = jQuery(this).val();
                    jQuery('.wcml_currency_switcher').attr('disabled', 'disabled');
                    jQuery('.wcml_currency_switcher').val(currency);
                    var data = {action: 'wcml_switch_currency', currency: currency}
                    jQuery.post(woocommerce_params.ajax_url, data, function(){
                        jQuery('.wcml_currency_switcher').removeAttr('disabled');
                        location.reload();
                    });
            });

});
    </script>

</body>
<!-- Mirrored from demo.ethemeuk.com/buyshop/woocommerce/demo_classic/?product=paisley-print-stretch-silk-camisole-3 by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 27 Mar 2016 15:50:30 GMT -->
</html>
